{% extends "myWebsite/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="text-center" id="profilePicture">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/GWv9Ns5/circle-selfie.png" alt="circle-selfie" border="0" height="300vw" width="300vw"></a>
</div>

<br>
<div class="text-center" style="height:150px; width:600px; margin:auto; font-family: 'Inconsolata', monospace;">
    <h4>
        Hi! My name is Shahroz Imtiaz and I'm a 4th year at the University of Virginia.
        This website was designed and built by me to showcase my work experience, projects, and resume, as well as, provide
        an easy way to contact me!
    </h4>
</div>
<h2 id="experienceHeader" style="padding:8vw 0 0 13vw">Experience</h2>
<h2 style="padding:8vw 0 0 13vw">Projects</h2>
<h2 style="padding:8vw 0 0 13vw">Resume</h2>
<div class="text-center">
    <iframe id="resumeHeader" src="https://docdro.id/6oRQEYG" height="830vw" width="800vw"></iframe>
</div>
<main role="main" id="contactForm" class="container" style=" margin: 0 auto; padding-top:15px">
    <div class="row shadow p-3 mb-5 rounded" style=" margin: 0 auto;background:rgb(249, 250, 248);">
        <div class="col-md-8" style=" margin: 0 auto;">
            <!--Section: Contact v.2-->
            <div class="text-center" style=" margin: 0 auto;">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me.</p>

                        <div class="mb-0">
                            <i class="fa fa-map-marker fa-2x"></i>
                                <p>Leesburg, VA</p>


                            <a class="fa fa-phone fa-2x" href="tel:5714205607?" target="_top"></a>
                                <p>571-420-5607</p>

                            <a class="fa fa-envelope fa-2x" href="mailto:shahrozimtiaz07@gmail.com?" target="_top"></a>
                                <p>shahrozimtiaz07@gmail.com</p>
                                    <div class="text-center">
            <a target="_blank" href="https://www.linkedin.com/in/shahroz-imtiaz-30a012126/" class="fa fa-linkedin-square fa-3x" style="padding-right: 1vw"></a>
            <a target="_blank" href="https://github.com/shahrozimtiaz?tab=repositories" class="fa fa-github-square fa-3x"></a>
        </div>
                        </div>
                    <!--Grid column-->


            </div>
        </div>
    </div>
</main>
{% endblock %}