{% extends "myWebsite/base.html" %}

{% block content %}
    <div class="text-center">
    <a href="https://ibb.co/Bj5V9pH"><img src="https://i.ibb.co/J2wR91W/stockpi.jpg" alt="stockpi" border="0"></a>
    </div>
    <div class="text-center" style="height:150px; width:600px; margin:auto; font-family: 'Inconsolata', monospace;">
        <h4>Hi! My name is Shahroz Imtiaz and I'm a 4th year at the University of Virginia. This website provides a list of relevant classes I've taken and the projects I completed for the aforementioned classes, as well as, games and projects I've created and worked on in my free time.</h4>
    </div>
{% endblock %}