{% extends "myWebsite/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="text-center" id="profilePicture">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/GWv9Ns5/circle-selfie.png" alt="circle-selfie" border="0" height="300vw" width="300vw"></a>
</div>

<br>
<div class="text-center" style="width:60vw; margin:auto; font-family: 'Inconsolata', monospace; overflow:visible">
    <h4>
        Hi! My name is Shahroz Imtiaz and I'm a 4th year at the University of Virginia.
        This website was designed and built by me to showcase my work experience, projects, and resume, as well as, provide
        an easy way to contact me!
    </h4>
</div>
<div class="wrapper" style="font-family: 'Inconsolata', monospace;">
    <h2 id="experienceHeader" style="padding:8vw 0 0 13vw">Experience</h2>
        <div class="row" style="padding:3vw 0 0 17vw;">
            <div class="col-sm-3">
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="https://i.ibb.co/J3y6Hh5/swifty.jpg" alt="No Image" height="163vw">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">SWIFT</h5>
                    <p class="card-text">
                        Interned on the Global Payments Innovation (GPI) team at SWIFT (the
                        global provider of secure financial messaging services) developing a
                        diagnostics utility to add a business context to SWIFT’s databases as well
                        as provide useful tools for the GPI developers.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="https://i.ibb.co/09v0gks/uva-rotunda-sunset-sanjay-suchak.jpg" alt="No Image" height="163vw">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">CS 2501: TEACHING ASSISTANT</h5>
                    <p class="card-text">
                        TA for Software Development Essentials (SDE) at the University of
                        Virginia. Helped students not only understand higher level programming
                        concepts, but also the Software Development process and principles.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="https://i.ibb.co/894thJ3/5471f001af3d5ff214b96bca2248add7.jpg" alt="No Image" height="163vw">
                <div class="card-body">
                    <h5 class="card-title">LOUDOUN COUNTY RUST LIBRARY: IT DEPARTMENT</h5>
                    <p class="card-text">
                        Assisted People in resolving their technological issues (software and hardware) and taught on how to optimally use technology.
                    </p>
                </div>
            </div>
            </div>
    </div>
    <h2 style="padding:4vw 0 0 13vw">Major Projects</h2>
    <ul class="list-unstyled mb-0">
        <li>
            <h4 id="gpiProject" style="padding:3vw 0 0 17vw">- GPI Diagnostics Utility</h4>
            <p style="padding:2vw 0 0 21vw">Spent 10 weeks developinga usefuldiagnosticstool using Java back-end,
                Angular front-end, and tyingthem together using a REST API. This tool helped developers at my company do what wasn’t
                possible before and improve on the efficiency of what was possible before resulting in the employeessaving
                time and the company saving money.
            </p>
        </li>
        <li>
            <h4 id="cadslist" style="padding:3vw 0 0 17vw">- CADS List</h4>
            <p style="padding:2vw 0 0 21vw">Spent 10 weeks developinga usefuldiagnosticstool using Java back-end,
                Spent one semester with my team developing an online marketplace to
                buy and sell items within the UVA community using Python, Django,
                PostgreSQL, Bootstrap, Heroku, and TravisCI.
            </p>
        </li>
        <li>
            <h4 id="personalwebsite" style="padding:3vw 0 0 17vw">- Personal Website Using HTML, JavaScript, and CSS</h4>
            <p style="padding:2vw 0 0 21vw">Check it out: https://shahrozimtiaz.github.io./
                The website presents a user-friendly version of my GitHub page.
                Numerous other projects I’ve worked on can easily be found on the site.
                The password is: p1
            </p>
        <li>

            <h4 style="padding:3vw 0 0 17vw">- Automation</h4>
            <p style="padding:2vw 0 0 21vw"> Used Python scripting for home automation such as weather alerts and
                web-scraping.
            </p>
        </li>

        <li>
            <h4 style="padding:3vw 0 0 17vw">- Machine Learning Classifier:</h4>
            <p style="padding:2vw 0 0 21vw"> Built a classifier that was able to identify if a person had chronic kidney
                disease given some useful details. The classifier was accurate 83% of the
                time.
            </p>
        </li>

        <li>

            <h4 style="padding:3vw 0 0 17vw">- Real Estate Agent</h4>

            <p style="padding:2vw 0 0 21vw">Created Java interactive program that allows user to search for available
                houses that meet their specified criteria (distance, location, style of
                home, number of bedroom/bathrooms, etc.)
            </p>
        </li>

        <li>

            <h4 style="padding:3vw 0 0 17vw">- Hoohacks Hero</h4>

            <p style="padding:2vw 0 0 21vw">Worked with a group of 5 to develop a UVA CS courses simulator using
                HTML and JavaScript during a UVA sponsored hackathon.
            </p>
        </li>

        <li>

            <h4 style="padding:3vw 0 0 17vw">- Game Development</h4>
            <p style="padding:2vw 0 0 21vw">I spend a lot of my free time developing videogames to further my skills.
                I’ve developed several games using HTML and JavaScript, Python, Java,
                and Unreal Engine.
            </p>
        </li>
    </ul>
    <h2 style="padding:4vw 0 2vw 13vw">Resume</h2>
</div>
<div class="text-center">
    <iframe id="resumeHeader" src="https://docdro.id/6oRQEYG" height="830rem" width="800rem"></iframe>
</div>
<main role="main" id="contactForm" class="container" style=" margin: 0 auto; padding-top:3vw">
    <div class="row shadow p-3 mb-5 rounded" style=" margin: 0 auto;background:rgb(249, 250, 248);">
        <div class="col-md-8" style=" margin: 0 auto;">
            <!--Section: Contact v.2-->
            <div class="text-center" style=" margin: 0 auto;">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me.</p>

                <div class="mb-0">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <p>Leesburg, VA</p>


                    <a class="fa fa-phone fa-2x" href="tel:5714205607?" target="_top"></a>
                    <p>571-420-5607</p>

                    <a class="fa fa-envelope fa-2x" href="mailto:shahrozimtiaz07@gmail.com?" target="_top"></a>
                    <p>shahrozimtiaz07@gmail.com</p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/shahroz-imtiaz-30a012126/" class="fa fa-linkedin-square fa-3x" style="padding-right: 1vw"></a>
                        <a target="_blank" href="https://github.com/shahrozimtiaz?tab=repositories" class="fa fa-github-square fa-3x"></a>
                    </div>
                </div>
                <!--Grid column-->


            </div>
        </div>
    </div>
</main>
{% endblock %}